@import url('https://fonts.googleapis.com/css?family=Fascinate+Inline|Inconsolata');



.main {
    width: 100%;
	max-width: 1024px;
	margin: auto;
	margin-top: -5px;
    text-align: center;
	padding: 1em;
}

body {
    background-color: #eaa717;
}

h1 {
    font-family: 'Fascinate Inline', cursive;
}

h3 {
    font-family: 'Inconsolata', monospace;
}

